<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
div:before{
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    padding: auto;
    position: absolute;
    background: #1c674e;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    text-align: center;
    border-radius: 50px;
    content: "✔";
    border: 2px solid goldenrod;
}
</style>
<div class="nima">
    <P>ffffffffffffffffffffff</P>
</div>
</body>
</html>