{% extends "bootstrap/base.html" %}
{% block navbar %}
<style>
.mynav{
    color: rgba(241, 241, 241, 0.7);

}

.nav > li > a:hover,
.nav > li > a:focus,
.navbar-header > a:hover {
  text-decoration: none;
  color: black;
  background-color: rgba(0,0,0,0);
}

.mynav-right{
    float:right;
    margin-right: -150px;
    line-height: 30px
}

.mynav-container{
    position:fixed;
    z-index:2;
    border: 0px;
    border-radius: 0px;
    min-height: 30px;
}
</style>
    <div class="mynav-container">
    <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand mynav" href="#" style=" " >看豆瓣</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="mynav" href="#" >电影</a></li>
                <li><a class="mynav" href="#" >读书</a></li>
                <li><a class="mynav" href="#" >同城</a></li>
                <li><a class="mynav" href="#" >小组</a></li>
            </ul>
            <ul class="nav navbar-right">
                <li><a class="mynav mynav-right" href="#" >登录</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<style>
{#body{#}
{#    overflow-y: hidden;#}
{#}#}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -webkit-box;
    position:relative;
{#    top: -30px;#}
    height: 750px;
}
.col-md-8{
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
}
.carousel-control{
    padding:35% 0px;
    font-size: 100px;
    opacity: .3;
}


</style>
<div class="container-fluid">
  <div class="col-md-8" >
		<div class="span12">
			<div class="carousel slide" id="carousel-485604">
				<ul class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-485604">
					</li>
					<li data-slide-to="1" data-target="#carousel-485604" class="active">
					</li>
					<li data-slide-to="2" data-target="#carousel-485604">
					</li>
				</ul>
				<div class="carousel-inner">
					<div class="item">

						<img alt="" src="/static/pic3.jpg" />
						<div class="carousel-caption">
							<h4>
								棒球
							</h4>
							<p>
								棒球运动是一种以棒打球为主要特点，集体性、对抗性很强的球类运动项目，在美国、日本尤为盛行。
							</p>
						</div>
					</div>
					<div class="item active">
						<img alt="" src="/static/pic2.jpg" />
						<div class="carousel-caption">
							<h4>
								冲浪
							</h4>
							<p>
								冲浪是以海浪为动力，利用自身的高超技巧和平衡能力，搏击海浪的一项运动。运动员站立在冲浪板上，或利用腹板、跪板、充气的橡皮垫、划艇、皮艇等驾驭海浪的一项水上运动。
							</p>
						</div>
						<grammarly>
							<div class="_e725ae-textarea_btn _e725ae-not_focused">
								<div class="_e725ae-transform_wrap">
									<div class="_e725ae-status">
									</div>
								</div>
							</div>
						</grammarly>
					</div>
					<div class="item">
						<img alt="" src="/static/pic1.jpg" />
						<div class="carousel-caption">
							<h4>
								自行车
							</h4>
							<p>
								以自行车为工具比赛骑行速度的体育运动。1896年第一届奥林匹克运动会上被列为正式比赛项目。环法赛为最著名的世界自行车锦标赛。
							</p>
						</div>
					</div>
                <a data-slide="prev" href="#carousel-485604" class="left carousel-control" style="">‹</a>
                <a data-slide="next" href="#carousel-485604" class="right carousel-control">›</a>
				</div>
			</div>
		</div>
  </div>
</div>
{% endblock %}