{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
<style>
body{
    background-color: rgba(31, 30, 28, 0.9);
}
.col-md-3 > img{
    height: 240px;
    width: 180px;
    position: relative;
    opacity: 1;
}

.hid{
    opacity: 1;
    z-index: 1;
    width: 330px;
    height: 440px;
}

.test{
    opacity: 0;
    z-index: -1;
}

.col-md-3{
    padding: 5px 10px;
}

.right{
    width:360px;
    height: 740px;
}

.col-md-3 > img:hover{
    -webkit-animation: bigger 0.3s;
    -webkit-animation-fill-mode: forwards;
    z-index: 2;
}

@-webkit-keyframes bigger{

    0%   {width: 180px; height: 240px}
    100% {width: 330px; height: 440px;opacity: 0.1}
}

.text{
    color:rgba(208, 194, 194, 0.89);
    position: absolute;
    overflow: hidden ;
    word-break: break-all;
    top:5px;
    font-weight: bold;
    line-height: 1.8;
}

.border{
    border: 4px solid #1c674e;

}
{#.col-md-3:before{#}
{#    display: block;#}
{#    width: 40px;#}
{#    height: 40px;#}
{#    margin: auto;#}
{#    padding: auto;#}
{#    position: absolute;#}
{#    background: #1c674e;#}
{#    top: 0;#}
{#    left: 0;#}
{#    right: 0;#}
{#    bottom: 0;#}
{#    z-index: 3;#}
{#    text-align: center;#}
{#    border-radius: 50px;#}
{#    content: "✔";#}
{#    opacity: 0;#}



.col-md-3 >.container{
    .center-block()
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
              <img alt="看豆瓣" src="/static/1.jpg">
              <div class="test container text" >
         {{ movie_abstract }}
          </div>
          </div>
          <div class="col-md-3"><img src="/static/2.jpg"></div>
          <div class="col-md-3"><img src="/static/3.jpg"></div>
          <div class="col-md-3"><img src="/static/4.jpg"></div>
        </div>
        <div class="row">
          <div class="col-md-3"><img src="/static/5.jpg"></div>
          <div class="col-md-3"><img src="/static/6.jpg"></div>
          <div class="col-md-3"><img src="/static/7.jpg"></div>
          <div class="col-md-3"><img src="/static/8.jpg"></div>
        </div>
        <div class="row">
          <div class="col-md-3"><img src="/static/9.jpg"></div>
          <div class="col-md-3"><img src="/static/10.jpg"></div>
          <div class="col-md-3"><img src="/static/11.jpg"></div>
          <div class="col-md-3"><img src="/static/12.jpg"></div>
        </div>
      </div>
      <div class="col-md-4" ><img class="right" alt="看豆瓣" src="/static/21.jpg">
      </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
<script type="text/javascript">
$(document).ready(function(){
  $("img").click(function() {
      $(this).toggleClass("border");
  });
  $("img").mouseenter(function(){
        $(this).next().removeClass('test');
         $(this).next().addClass('hid');
  $("img").mouseleave(function () {
      $(this).next().removeClass('hid');
      $(this).next().addClass('test');

  });

  });
  });

</script>
{% endblock %}
