{% extends "bootstrap/base.html" %}
{% block navbar %}
<style>

body{
    background-color: rgba(31, 30, 28, 0.9);
}
.col-md-3 > img{
    height: 240px;
    width: 180px;
    position: relative;
    opacity: 1;
}

.hid{
    opacity: 1;
    z-index: 1;
    width: 330px;
    height: 440px;
}

.test{
    opacity: 0;
    z-index: -1;
}

.col-md-3{
    padding: 5px 10px;
}

.pic-right{
    width:390px;
    height: 740px;
}

.col-md-3 > img:hover{
    -webkit-animation: bigger 0.3s;
    -webkit-animation-fill-mode: forwards;
    z-index: 2;
}

@-webkit-keyframes bigger{

    0%   {width: 180px; height: 240px}
    100% {width: 330px; height: 440px;opacity: 0.1}
}

.text{
    color:rgba(208, 194, 194, 0.89);
    position: absolute;
    overflow: hidden ;
    word-break: break-all;
    top:5px;
    font-weight: bold;
    line-height: 1.8;
}

.border{
    border: 4px solid #1c674e;

}



.col-md-3 >.container{
    .center-block()
}
.mynav{
    color: rgba(241, 241, 241, 0.7);

}

.nav > li > a:hover,
.nav > li > a:focus,
.navbar-header > a:hover {
  text-decoration: none;
  color: black;
  background-color: rgba(0,0,0,0);
}

.mynav-right{
    float:right;
    margin-right: -150px;
    line-height: 30px
}

.mynav-container{
    position:fixed;
    z-index:2;
    border: 0px;
    border-radius: 0px;
    min-height: 30px;
}
</style>
    <div class="mynav-container">
    <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand mynav" href="#" style=" " >看豆瓣</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="mynav" href="#" >电影</a></li>
                <li><a class="mynav" href="#" >读书</a></li>
                <li><a class="mynav" href="#" >同城</a></li>
                <li><a class="mynav" href="#" >小组</a></li>
            </ul>
            <ul class="nav navbar-right">
                <li><a class="mynav mynav-right" href={{ url_for('login') }} >登录</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<style>
.nav > li > a:hover,
.nav > li > a:focus,
.navbar-header > a:hover {
{#    text-decoration: none;#}
    color: white;
{#    background-color: rgba(0,0,0,0);#}
}


.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -webkit-box;
    position:relative;
{#    top: -30px;#}
    height: 750px;
}
.col-md-8{
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
}
.carousel-control{
    padding:38% 0px;
    font-size: 100px;
    opacity: .3;
    width: 5%;
}


</style>
<div class="container-fluid">
  <div class="col-md-12" >
		<div class="span12">
			<div class="carousel slide" id="carousel-485604">
				<ul class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-485604">
					</li>
					<li data-slide-to="1" data-target="#carousel-485604" class="active">
					</li>
					<li data-slide-to="2" data-target="#carousel-485604">
					</li>
				</ul>
				<div class="carousel-inner">
					<div class="item">
                        <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
              <img alt="看豆瓣" src="/static/1.jpg">
              <div class="test container text" >
         {{ movie_abstract }}
          </div>
          </div>
          <div class="col-md-3"><img src="/static/2.jpg"></div>
          <div class="col-md-3"><img src="/static/3.jpg"></div>
          <div class="col-md-3"><img src="/static/4.jpg"></div>
        </div>
        <div class="row">
          <div class="col-md-3"><img src="/static/5.jpg"></div>
          <div class="col-md-3"><img src="/static/6.jpg"></div>
          <div class="col-md-3"><img src="/static/7.jpg"></div>
          <div class="col-md-3"><img src="/static/8.jpg"></div>
        </div>
        <div class="row">
          <div class="col-md-3"><img src="/static/9.jpg"></div>
          <div class="col-md-3"><img src="/static/10.jpg"></div>
          <div class="col-md-3"><img src="/static/11.jpg"></div>
          <div class="col-md-3"><img src="/static/12.jpg"></div>
        </div>
      </div>
      <div class="col-md-4" ><img class="pic-right" alt="看豆瓣" src="/static/21.jpg">
      </div>
    </div>

</div>
					</div>
					<div class="item active">
                        <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
              <img alt="看豆瓣" src="/static/1.jpg">
              <div class="test container text" >
         {{ movie_abstract }}
          </div>
          </div>
          <div class="col-md-3"><img src="/static/2.jpg"></div>
          <div class="col-md-3"><img src="/static/3.jpg"></div>
          <div class="col-md-3"><img src="/static/4.jpg"></div>
        </div>
        <div class="row">
          <div class="col-md-3"><img src="/static/5.jpg"></div>
          <div class="col-md-3"><img src="/static/6.jpg"></div>
          <div class="col-md-3"><img src="/static/7.jpg"></div>
          <div class="col-md-3"><img src="/static/8.jpg"></div>
        </div>
        <div class="row">
          <div class="col-md-3"><img src="/static/9.jpg"></div>
          <div class="col-md-3"><img src="/static/10.jpg"></div>
          <div class="col-md-3"><img src="/static/11.jpg"></div>
          <div class="col-md-3"><img src="/static/12.jpg"></div>
        </div>
      </div>
      <div class="col-md-4" ><img class="pic-right" alt="看豆瓣" src="/static/21.jpg">
      </div>
    </div>

</div>
					</div>
					<div class="item">
                        <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
              <img alt="看豆瓣" src="/static/1.jpg">
              <div class="test container text" >
         {{ movie_abstract }}
          </div>
          </div>
          <div class="col-md-3"><img src="/static/2.jpg"></div>
          <div class="col-md-3"><img src="/static/3.jpg"></div>
          <div class="col-md-3"><img src="/static/4.jpg"></div>
        </div>
        <div class="row">
          <div class="col-md-3"><img src="/static/5.jpg"></div>
          <div class="col-md-3"><img src="/static/6.jpg"></div>
          <div class="col-md-3"><img src="/static/7.jpg"></div>
          <div class="col-md-3"><img src="/static/8.jpg"></div>
        </div>
        <div class="row">
          <div class="col-md-3"><img src="/static/9.jpg"></div>
          <div class="col-md-3"><img src="/static/10.jpg"></div>
          <div class="col-md-3"><img src="/static/11.jpg"></div>
          <div class="col-md-3"><img src="/static/12.jpg"></div>
        </div>
      </div>
      <div class="col-md-4" ><img class="pic-right" alt="看豆瓣" src="/static/21.jpg">
      </div>
    </div>

</div>
					</div>
                <a data-slide="prev" href="#carousel-485604" class="left carousel-control" style="">‹</a>
                <a data-slide="next" href="#carousel-485604" class="right carousel-control">›</a>
				</div>
			</div>
		</div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
<script type="text/javascript">
$(document).ready(function(){
  $("img").click(function() {
      $(this).toggleClass("border");
  });
  $("img").mouseenter(function(){
        $(this).next().removeClass('test');
         $(this).next().addClass('hid');
  $("img").mouseleave(function () {
      $(this).next().removeClass('hid');
      $(this).next().addClass('test');

  });

  });
  });

</script>
{% endblock %}